@model IEnumerable<V3_Movie_MVC_RepoPattern_EF_CodeFirst_Identity.Models.Actor>

@{
    ViewData["Title"] = "GetActorsByGender";
}

<h1>GetActorsByGender</h1>

<div class="col-md-4">
    <form asp-action="GetActorsByGender">
        <div class="form-group">
            <label class="control-label">Select Gender</label>
            <select class="form-control" required name="gender"
                    asp-items="Html.GetEnumSelectList<Gender>()">
                <option value="" disabled="disabled" selected="selected">
                    --Please select--
                </option>
            </select>
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>
</div>

@if (Model != null && Model.Count() > 0)
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
}
@if (Model != null && Model.Count() ==0)
{
    <label>No actors found</label>
}